{% extends "base.html" %}

{% block content %}

<br><br>

<h1>{{question['name']}}</h1>

<br>

<p>{{question['description']}}</p>

<br>

<table class="table center">
    <thead>
    <tr>
        <th>Responses</th>
    </tr>
    </thead>

    {% set resps = question['categories'] %}
    {% set vals = question['values'] %}
    {% for resp, val in zip(resps, vals)%}
    <tbody>
    <tr>
        <td>{{ val }} - {{ resp }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>

{% if no_figs|length %}
<br><br>
<p>{{ no_figs }}</p>
{% else %}
<div class="row">

    {% for img in imgs %}
    <div class="row">
        <div class="col-md-3"><img class="center" src="{{ url_for('static', filename=img[0]) }}" style="width: 60%"></div>
        <div class="col-md-3"><a href="{{ url_for('static', filename=img[1]) }}">Export Data</a></div>
    </div>
    {% endfor %}

</div>
{% endif %}

<br>

<h1>Related questions: </h1>


<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Wording</th>
        <th>Survey</th>
    </tr>
    </thead>

    {% for hit in related['hits']['hits'] %}
    <tbody>
    <tr>
        <th scope="row"><a href="{{ url_for('figure_request', _method='GET', index = hit['_id']) }}">{{
            hit['_source']['name'] }}</a></th>
        <td>{{ hit['_source']['description'] }}</td>
        <td><form id="form{{loop.index}}" action="/search/survey" method="post"><input type="hidden" name="survey" value="{{hit['_source']['survey']}}" /></form></td>
        <td><input form="form{{loop.index}}" type="submit" value="{{hit['_source']['survey_name']}}" /></td>
    </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}