{% extends "base.html" %}

{% block content %}

<br><br>

<h1>{{question['name']}}</h1>

<br>

<p>{{question['description']}}</p>

<br>

<table class="table center">
    <thead>
    <tr>
        <th>Responses</th>
    </tr>
    </thead>

    {% set resps = question['categories'].split(';') %}
    {% for hit in resps%}
    <tbody>
    <tr>
        <td>{{ loop.index }} - {{ hit }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>

{% if no_figs|length %}
<br><br>
<p>{{ no_figs }}</p>
{% else %}
<div class="row">

    {% for img in imgs %}
    <div class="row">
        <div class="col-md-3"><img class="center" src="{{ url_for('static', filename=img) }}" style="width: 60%"></div>
    </div>
    {% endfor %}

</div>
{% endif %}

{% endblock %}